BIA656 - HW1 - Assignment 1
- Problem 1(Explore R)
- a) Create the following vectors in R.

In [1]:
a <- NULL
for (i in 1:32){
  item = i * 5
  a <-c(a, item)
}
a

 [1]   5  10  15  20  25  30  35  40  45  50  55  60  65  70  75  80  85  90  95
[20] 100 105 110 115 120 125 130 135 140 145 150 155 160

In [2]:
b <- NULL
for (i in 1:32){
  item = 88 - i
  b <- c(b, item)
}
b

 [1] 87 86 85 84 83 82 81 80 79 78 77 76 75 74 73 72 71 70 69 68 67 66 65 64 63
[26] 62 61 60 59 58 57 56

- b) Use vector arthmetic to multiply these vectors and call the result d.

In [3]:
d <- a * b
d

 [1]  435  860 1275 1680 2075 2460 2835 3200 3555 3900 4235 4560 4875 5180 5475
[16] 5760 6035 6300 6555 6800 7035 7260 7475 7680 7875 8060 8235 8400 8555 8700
[31] 8835 8960

- c) What are the 19th, 20th, and 21st elements of d)?

In [4]:
d[19]
d[20]
d[21]

[1] 6555

[1] 6800

[1] 7035

- d)What are all of the elements of d) which are less than 2000?

In [5]:
e <- NULL
for (i in 1:length(d)){if(d[i] <= 2000){e <- c(e, d[i])}}
e

[1]  435  860 1275 1680

- e)How many elements of d) are greater than 6000?

In [6]:
f <- NULL
for (i in 1: length(d)){if(d[i] >= 6000){f <- c(f, d[i])}}
f

length(f)

 [1] 6035 6300 6555 6800 7035 7260 7475 7680 7875 8060 8235 8400 8555 8700 8835
[16] 8960

[1] 16

- Compute the following statistics of d):
- f)Sum

In [7]:
sum(d)

[1] 175120

- g)Median

In [8]:
mean(d)

[1] 5472.5

- h)Standard deviation

In [9]:
sd(d)

[1] 2608.563

#Problem 1 End